@import url("../css/root.css");

.content-wrapper{
    align-items: center;
    margin-top: -1% !important;
}

.form-group label,
.form-label{
    margin: 30px 0px 5px 0;
}

.card-body {
    margin-bottom: 50px;
}
.form-group{
    margin-left: 200px;

}
.btnArond{
    margin-top: 20px;
    margin-left: 460px;
}


/* ======== MEDIA ======== */
@media (max-width: 495px){
    .btnArond{
        margin-top: 2rem;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1200px){
    .layout-page{
        padding-left: 14.25rem;
    }
  }